kagglehub
pandas
matplotlib
seaborn
python-dotenv
langchain-community
langchain-openai
langchain-chroma
transformers
gradio
notebook
ipywidgets
langchain-huggingface
langchain_text_splitters
fastapi
numpy
sentence-transformers
langchain